---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    control-plane: clusteragent-controller-manager
  name: managed-gitops-clusteragent-service
  namespace: gitops
spec:
  replicas: 1
  selector:
    matchLabels:
      control-plane: clusteragent-controller-manager
  template:
    metadata:
      labels:
        control-plane: clusteragent-controller-manager
    spec:
      containers:
      - args:
        - --secure-listen-address=0.0.0.0:8443
        - --upstream=http://127.0.0.1:8080/
        - --logtostderr=true
        - --v=10
        image: gcr.io/kubebuilder/kube-rbac-proxy:v0.8.0
        name: kube-rbac-proxy
        ports:
        - containerPort: 8443
          name: https
          protocol: TCP
      - args:
        - --health-probe-bind-address=:8083
        - --metrics-bind-address=127.0.0.1:8082
        - --leader-elect
        - --zap-time-encoding=rfc3339nano
        command:
        - gitops-service-cluster-agent
        env:
          - name: ARGO_CD_NAMESPACE
            value: ${ARGO_CD_NAMESPACE}
          - name: DB_ADDR
            value: gitops-postgresql-staging
          - name: DB_PASS
            valueFrom:
              secretKeyRef:
                name: gitops-postgresql-staging
                key: postgresql-password
        image: ${COMMON_IMAGE}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8083
          initialDelaySeconds: 15
          periodSeconds: 20
        name: manager
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8083
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 300m
            memory: 200Mi
          requests:
            cpu: 200m
            memory: 50Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
      securityContext:
        runAsNonRoot: true
      serviceAccountName: managed-gitops-clusteragent-controller-manager
      terminationGracePeriodSeconds: 10
