backend/bin/
backend/dist/
backend/coverage.out
backend/vendor/
backend/cover.out
backend/.vscode/
backend/.idea/

cluster-agent/bin/
cluster-agent/dist/
cluster-agent/coverage.out
cluster-agent/vendor/
cluster-agent/.vscode/
cluster-agent/.idea/

backend-shared/bin/
backend-shared/dist/
backend-shared/coverage.out
backend-shared/vendor/
