# apiVersion: v1
# kind: Namespace
# metadata:
#   labels:
#     control-plane: controller-manager
#   name: system
# ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    control-plane: backend-controller-manager
spec:
  selector:
    matchLabels:
      control-plane: backend-controller-manager
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: backend-controller-manager
    spec:
      securityContext:
        runAsNonRoot: true
      containers:
      - command:
        - gitops-service-backend
        args:
        - --health-probe-bind-address=:18081
        - --metrics-bind-address=127.0.0.1:8080
        - --leader-elect
        - --zap-time-encoding=rfc3339nano        
        env:
        - name: ARGO_CD_NAMESPACE
          value: gitops-service-argocd
        - name: DB_ADDR
          value: gitops-postgresql-staging
        - name: DB_PASS
          valueFrom:
            secretKeyRef:
              key: postgresql-password
              name: gitops-postgresql-staging
        image: ${COMMON_IMAGE}
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
        livenessProbe:
          httpGet:
            path: /healthz
            port: 18081
          initialDelaySeconds: 120
          periodSeconds: 60
        name: manager
        readinessProbe:
          httpGet:
            path: /readyz
            port: 18081
          initialDelaySeconds: 180
          periodSeconds: 30
        resources:
          limits:
            cpu: 1000m
            memory: 2400Mi
          requests:
            cpu: 300m
            memory: 1000Mi
      serviceAccountName: controller-manager
      terminationGracePeriodSeconds: 10
