apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base/crd/overlays/local-dev
- ../../base/gitops-namespace
- ../../base/cluster-scoped
- ../../../appstudio-controller/config/default
- ../../../backend/config/default
- ../../../cluster-agent/config/default
- ../../base/postgresql-staging
# - ../../base/gitops-service-argocd

patchesStrategicMerge:
- backend-deployment-patch.yaml
- cluster-agent-deployment-patch.yaml

# Uncomment to use a custom image:

# images:
#   - name: \${COMMON_IMAGE}
#     newName: quay.io/(your user name)/gitops-service
#     newTag: latest
