# Current as of June 9th, 2022

apiVersion: appstudio.redhat.com/v1alpha1
kind: Application
metadata:
#  finalizers:
#  - application.appstudio.redhat.com/finalizer
  name: new-demo-app
#  namespace: (your namespace)
spec:
  appModelRepository:
    url: ""
  displayName: New Demo App
  gitOpsRepository:
    url: ""
status:
  conditions:
  - lastTransitionTime: "2022-06-09T09:23:15Z"
    message: Application has been successfully created
    reason: OK
    status: "True"
    type: Created
  devfile: |
    attributes:
      containerImage/demo: quay.io/jgwest-redhat/sample-workload:latest
    metadata:
      attributes:
        appModelRepository.context: environments/overlays/staging
        appModelRepository.url: https://github.com/redhat-appstudio/gitops-repository-template

        gitOpsRepository.context: environments/overlays/staging
        gitOpsRepository.url: https://github.com/redhat-appstudio/gitops-repository-template
      name: New Demo App
    schemaVersion: 2.1.0
