name: database schema sync check
on:
  workflow_dispatch:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "*"
jobs:
  schema-sync-test:
    name: Run tests to check if database schema is in check with go schema constants
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup Go
      uses: actions/setup-go@v5.0.1
      with:
        go-version-file: './backend/go.mod'
    - name: Run script file
      run: |
         $GITHUB_WORKSPACE/backend-shared/hack/run-db-schema-sync-check.sh
      shell: bash