name: database schema sync check
on:
  workflow_dispatch:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "*"
jobs:
  schema-sync-test:
    name: Run tests to check if database schema is in check with go schema constants
    runs-on: ubuntu-latest
    steps:
    - name: Setup Go
      uses: actions/setup-go@v3.2.0
      with:
        go-version: "1.17.6"
    - uses: actions/checkout@v3
    - name: Run script file
      run: |
         $GITHUB_WORKSPACE/backend-shared/hack/run-db-schema-sync-check.sh
      shell: bash